.popup__close {
  background-image: url(../../../images/close-icon.svg);
  position: absolute;
  top: -15%;
  left: 98%;
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  background-color: transparent;
  background-size: contain;
  padding: 0;
  margin: 0;
  transition: opacity 0.2s ease-in-out 0.2s;
}

.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 592px) {
  .popup__close {
    width: 46px;
    height: 46px;
    left: 84%;
  }  
}
