.popup__submit-text {
  color: white;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 109px;
  height: 18px;
  margin: 14px 125px 0;
  padding-bottom: 18px;
}

@media screen and (max-width: 592px) {
  .popup__submit-text {
    font-size: 14px;
    margin: 14px 82px 0;
    padding-bottom: 14px;
  }  
}
